@charset "UTF-8";
/* reset strt */
/* line 4, sass/style.scss */
html, body, h1, h2, h3, dl, dt, dd, ul, ol, p, table, th, td, form, input, button, textarea {
  margin: 0;
  padding: 0;
}

/* line 5, sass/style.scss */
body {
  background: #fff;
}

/* line 6, sass/style.scss */
body, a, button, input {
  font: 14px/1.4 "微软雅黑",arial,sans-serif;
  color: #fff;
}

/* line 7, sass/style.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 8, sass/style.scss */
img, input, button, textarea, select, a {
  border: 0;
  outline: none;
}

/* line 9, sass/style.scss */
textarea {
  overflow: auto;
  resize: none;
  border: 0;
}

/* line 10, sass/style.scss */
img {
  vertical-align: top;
}

/* line 11, sass/style.scss */
em, address {
  font-style: normal;
}

/* line 12, sass/style.scss */
li {
  list-style: none;
}

/* line 13, sass/style.scss */
h1, h2, h3, h4, h5, h6, em, strong, caption, th {
  font-weight: normal;
}

/*a { text-decoration:none; }*/
/* line 15, sass/style.scss */
a, input, button {
  -webkit-tap-highlight-color: transparent;
}

/* line 18, sass/style.scss */
h1 {
  font-size: 18px;
  color: #000;
  padding: 10px 0;
}

/* line 24, sass/style.scss */
.photo-list img {
  width: 100px;
  height: 100px;
}

/* line 30, sass/style.scss */
#mask {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  background: black;
  opacity: .5;
  filter: alpha(opacity=50);
  display: none;
}

/* line 43, sass/style.scss */
#pop {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 20;
  width: 800px;
  height: 500px;
  border: 5px solid #fff;
  border-radius: 5px;
  overflow: hidden;
  display: none;
  background: #fff url(../img/icon/loading.gif) no-repeat center center;
}
/* line 55, sass/style.scss */
#pop .btn {
  position: absolute;
  top: 200px;
  width: 50px;
  height: 45px;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 0;
  transition: .5s;
}
/* line 65, sass/style.scss */
#pop .btn-show {
  opacity: 1;
}
/* line 68, sass/style.scss */
#pop .btn-prev {
  background-image: url(../img/icon/prev.png);
  left: 0;
}
/* line 72, sass/style.scss */
#pop .btn-next {
  background-image: url(../img/icon/next.png);
  right: 0;
}
/* line 76, sass/style.scss */
#pop .caption {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(0, 0, 0, 0.5);
}
/* line 84, sass/style.scss */
#pop .tip {
  padding: 12px 0 0 10px;
  height: 70px;
}
/* line 88, sass/style.scss */
#pop .title {
  font-size: 16px;
  line-height: 30px;
}
/* line 92, sass/style.scss */
#pop .index {
  color: #999;
}
/* line 95, sass/style.scss */
#pop .close-btn {
  position: absolute;
  top: 21.5px;
  right: 10px;
  width: 27px;
  height: 27px;
  background: url(../img/icon/close.png) no-repeat center center;
}
